<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>

          <a class="fa fa-github dev_social_link ml-2 m-1" href="https://github.com/tepong32" target="_blank"></a>
          <a class="fa fa-facebook dev_social_link m-1" href="https://facebook.com/tepong32" target="_blank"></a>
          <a class="fa fa-twitter dev_social_link m-1" href="https://twitter.com/tepongdgreat" target="_blank"></a>
          <a class="fa fa-linkedin-square dev_social_link m-1" href="https://linkedin.com/in/cristinoagapitojr" target="_blank"></a>
            </div>
        </div>
    </div>
</footer>